---
layout: default
title: FAM
permalink: /
---

<h2>Navigation</h2>

<ul>
  <li><a href="/#ahnentafel">Ahnentafel</a></li>
  <li><a href="/#daboville">D'Aboville</a></li>
  <li><a href="/#register">Register</a></li>
  <li><a href="/#research">Research</a></li>
</ul>

<br>


<h2 id="ahnentafel">Ahnentafel</h2>

<p>An ahnentafel or ancestor table is a simple tree organized by generation, using Sosa numbering to index each individual’s relationship to the root. An ahnentafel is an ascending genealogical numbering system, meaning that it starts in the present, working its way up through the table of ancestors as far as records will reach. An ahnentafel is accommodating of gaps, since the placement in the tree of each direct ancestor can be mathematically calculated, regardless of the availability of knowledge about them. This structure also has the benefit of assigning a unique index to each direct ancestor. However, an ahnentafel is not built to accommodate indirect relations, for which the d’Aboville system is better suited.</p>

<p>The ahnentafel recorded on this site reaches back as far as the sixteenth generation to some of the root’s thirteenth great-grandparents, who lived in the late 1300s to early 1400s. However, little is known of these ancestors, with the majority of family documentation beginning with the seventh generation, the root’s fourth great-grandparents, who lived in the early-to-mid 1800s.</p>

<br>


{% assign sorted = site.pages | sort: "index" %}
{% for item in sorted %}
  {% if item.category contains "genealogy" and item.subcategory contains "generation" %}
    <h4>{{ item.title }}</h4>
    <p>
    {{ item.subtitle }}

    {% assign generationCount = 0 %}
      {% for descendant in item.descendants %}
        {% assign generationCount = generationCount | plus: 1 %}
      {% endfor %}

    {% if generationCount == item.size %}
      <em>({{ generationCount }} ancestors)</em>
    {% else %}
      <em>({{ generationCount }} of {{ item.size}} ancestors known)</em>
    {% endif %}

    <ul>
    {% for descendant in item.descendants %}
      {% assign descendantSosa = descendant %}
      {% for page in site.pages %}
        {% if page.category contains "genealogy" and page.subcategory contains "person" and page.sosa == descendantSosa %}
          <li>
            <a href="{{ page.url }}">({{ page.sosa }}) {{ page.title }}</a>
            <br>{{ page.birth-date }} / {{ page.death-date }}
          </li>
          <br>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>

    </p>

    <br>

  {% endif %}
{% endfor %}

<br>


<h2 id="daboville">D'Aboville</h2>

<p>The d’Aboville system is a descending genealogical numbering system, as opposed to the ascending Sosa system, that traces family lines from a fixed ancestral point. Though less flexible than Sosa numbering, the d’Aboville system allows for the recording of all ancestors in a family, not just those in a direct line to a contemporary root. This is useful for going wide in a family’s history, whereas an ahnentafel is especially fit for going deep. The d’Aboville system is preferable to the similar Henry system for its legibility, and for the ease with which it handles families with ten or more children.</p>

<p>The d’Aboville groupings recorded on this site are structured around the root’s seize quartiers, or sixteen great-great-grandparents, and their ancestors of the same family line. While traditionally used as a proof of nobility, these quartiers consist of farmers, and miners, and servants, and administrators, with no quarters of nobility to be found.</p>

<br>

<h4>Paternal Quarters</h4>

<ul>
  <li>Stein</li>
  <li>???</li>
  <li>Schevardo</li>
  <li>Muss</li>
  <li>Ward</li>
  <li>Alderson</li>
  <li>Mifsud</li>
  <li>Camoin</li>
</ul>

<br>

<h4>Maternal Quarters</h4>

<ul>
  <li>Kirkham</li>
  <li>Stevens</li>
  <li>Holland</li>
  <li>Baker</li>
  <li>Fitzpatrick</li>
  <li>Bowland</li>
  <li>Lougheed</li>
  <li>Spanhouse</li>
</ul>

<br>


<h2 id="register">Register</h2>

<p>A surnames registry is an index of names intended to collect all ancestors with a given surname in a straightforward, unified view, allowing for the tracing of direct lineages by said names. A surnames registry also has the benefit of making visible less prominent names in the ancestor table, surfacing those individuals that might otherwise go unnoticed. More generally, a surnames registry provides an opportunity for exploring the cultural and historical context of a given family name, which can help situate a specific root in their broader genealogical context.</p>

<p>The surnames registry on this site allows for research that goes beyond the familial record, making connections and providing context where gaps in the genealogy appear.</p>

<br>


<h4>Surnames</h4>

<ul>
  {% for page in site.pages %}
    {% if page.category contains "genealogy" and page.subcategory contains "surname" %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>

<br>


<h2 id="research">Research</h2>

<ul>
  {% for page in site.pages %}
    {% if page.category contains "genealogy" and page.subcategory contains "research" %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
